.headerWrapper {
    width: 100%;

}
.container {
    max-width: 1200px;
    padding: 0px 10px 0px 10px;
    display: block;
    margin: auto;
}

.headerWrapper ul {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.headerWrapper ul li {

}
